<h1>Estadísticas de preguntas y comentarios</h1>

   <table id="stats">
      
      <tr>
         <td>Total de preguntas</td>
         <td><%= stats.total_preguntas %></td>
      </tr>
      
      <tr>
         <td>Total de comentarios</td>
         <td><%= stats.total_comentarios %></td>
      </tr>
      
      <tr>
         <td>Comentarios no publicados</td>
         <td><%= stats.com_no_publicados %></td>
      </tr>
      
      <tr>
         <td>Comentarios publicados</td>
         <td><%= stats.com_si_publicados %></td>
      </tr>
      
      <tr>
         <td>Media de comentarios por preguntas</td>
         <td><%= stats.media_com_preguntas %></td>
      </tr>
      
   </table>
