<form method="get" action="/quizes/<%= quiz.id %>/answer">
   
   Pregunta: <%= quiz.pregunta %> <p>
   <input type="text" name="respuesta" placeholder="Responda aquí" />
   <input type="submit" class="form_button" value="Enviar" />

</form>

<p>
   <a href="/quizes/<%= quiz.id %>/comments/new">
      <button class="form_button">Nuevo comentario</button>
   </a>
</p>
<p><strong>Comentarios:</strong></p>
<% for(index in quiz.Comments){ %>
   <% if (quiz.Comments[index].publicado || session.user){ %>
      <p>- <%= quiz.Comments[index].texto %>
      <% if (session.user && !quiz.Comments[index].publicado) { %>
         <a href="/quizes/<%= quiz.id %>/comments/<%= quiz.Comments[index].id %>/publish">
            <button class="form_button">Publicar</button>
         </a>
      <% } %>
      </p>
   <% } %>
<% } %>